html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
:focus { outline: 0; }
ins { text-decoration: none; }
del { text-decoration: line-through; }
table { border-collapse: collapse; border-spacing: 0; }

body, html { font-family: Verdana, Arial; background: #FAFAFA; color: #111; }
body { overflow-y: scroll; }

#wrapper { width: 550px; margin: 0 auto; }
#wrapper a { color: #111; text-decoration: none; }
#wrapper h1 { font-size: 28px; margin: 20px 0; }
#wrapper h3 { margin: 20px 0; }

#function {
	border: 1px solid #CCC;
	background-color: white;
	padding: 5px 10px;
	border-radius: 7px;
	margin-bottom: 20px;
}

#function label {
	font-weight: bold;
	font-size: 13px;
}

#function input[type=text] {
	border: none;
	border-bottom: 1px solid #CCC;
	font-size: 15px;
	width: 300px;
	padding: 2px 5px 0;
}

#function input[type=submit] {
	border: 1px solid #CCC;
	font-weight: bold;
	background-color: #EEE;
	width: 60px;
}

#result {
	width: 100%;
	resize: none;
	height: 300px;
	border: 1px solid #ccc;
}

#street_cred {
	font-size: 12px;
	text-align: center;
	color: #333;
	border-top: 1px solid #CCC;
	margin-top: 20px;
	padding-top: 5px;
}

#street_cred a {
	font-style: italic;
}

